<template>
    <div class="container">
        <section class="content">
            <div class="row mt-5 mb-5">
                <div class="col-sm-6">
                    <button type="button" style="height: 300px" @click="viewAttendance" class="btn btn-outline-success btn-lg btn-block">Điểm danh</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" style="height: 300px" @click="viewScorecard" class="btn btn-outline-danger btn-lg btn-block">Chấm điểm</button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {}
        },
        methods: {
            viewScorecard() {
                this.$router.push("/scorecard");
            },
            viewAttendance() {
                this.$router.push("/attendance");
            }
        }
    };
</script>
