<template>
  <div class="container">
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Phòng ban</label>
            <select
                    v-model="form.code_number_department"
                    class="form-control select2"
                    style="width: 100%;"
            >
              <option
                      v-for="item in departmentOptions"
                      :key="item.value"
                      :value="item.value"
              >
                {{ item.text }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label class="control-label">Lớp học</label>
            <select
                    v-model="form.code_number_class"
                    class="form-control select2"
                    style="width: 100%;"
            >
              <option
                      v-for="item in classroomOptions"
                      :key="item.value"
                      :value="item.value"
              >
                {{ item.text }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label">Học kì</label>
              <select
                      v-model="form.code_number_school_year"
                      class="form-control select2"
                      style="width: 100%;"
              >
                <option
                        v-for="item in schoolYearOptions"
                        :key="item.value"
                        :value="item.value"
                >
                  {{ item.text }}
                </option>
              </select>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Môn học</label>
            <select
                    v-model="form.code_number_subject"
                    class="form-control select2"
                    style="width: 100%;"
            >
              <option
                      v-for="item in subjectByDepartmentSchoolYearOptions"
                      :key="item.value"
                      :value="item.value"
              >
                {{ item.text }}
              </option>
            </select>
          </div>
        </div>
        <div class="col col-sm-1" style="margin-top: 30px">
          <button
                  class="btn btn-primary"
                  @click="getFilter"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Lọc"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin chấm điểm</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table
                    aria-describedby="example1_info"
                    role="grid"
                    class="table table-bordered table-striped dataTable"
                  >
                    <thead>
                      <tr role="row">
                        <th v-for="thead in theads" :key="thead.key">
                          <div v-if="thead.sort" @click="getSort(thead.key)">
                            <span>{{ thead.title }}</span>
                            <template v-if="params.sort_column === thead.key">
                              <span v-if="params.direction === 'asc'"
                                >&#x25B2;</span
                              >
                              <span v-else>&#x25BC;</span>
                            </template>
                          </div>
                          <div v-else>
                            <span>{{ thead.title }}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="even"
                        role="row"
                        v-for="(item, index) in list_subject_students.data"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.classrooms.name }}</td>
                        <!--                        <td>{{ item.code_number_student }}</td>-->
                        <td width="140px">
                          <div class="col col-sm-12">
                            <input
                              class="form-control"
                              type="text"
                              disabled
                              :value="item.code_number_student"
                            />
                          </div>
                        </td>
                        <td>
                          {{ item.students.last_name }}
                          {{ item.students.first_name }}
                        </td>
                        <td width="100px">
                          <div class="col col-sm-12">
                            <input
                              class="form-control"
                              v-model="form.mid_score[index]"
                              type="text"
                            />
                          </div>
                        </td>
                        <td width="100px">
                          <div class="col col-sm-12">
                            <input
                              class="form-control"
                              v-model="form.last_score[index]"
                              type="text"
                            />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-warning" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-warning"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-warning" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import axios from "axios";

export default {
  name: "add",
  data() {
    return {
      form: {
        code_number_department: "",
        code_number_class: "",
        code_number_school_year: 0,
        code_number_teacher: "",
        code_number_subject: 0,
        code_number_student: [],
        mid_score: [],
        last_score: []
      },
      list_subject_students: [],
      isLoading: false,
      searchAll: "",
      params: {
        page: 1,
        per_page: 10,
        sort_column: "id",
        direction: "desc"
      },
      theads: [
        { title: "STT", key: "id", sort: true },
        { title: "Lớp học", key: "code_number_class", sort: true },
        { title: "Mã Sinh viên" },
        { title: "Sinh viên", key: "code_number_student", sort: true },
        { title: "Điểm GK" },
        { title: "Điểm CK" }
      ]
    };
  },
  created() {
    this.loadDepartmentData();
    this.loadSchoolYearData();
    // this.getList();
  },
  mounted() {
    this.loadAddress();
  },
  computed: {
    ...mapGetters("scorecard_add", {
      isSubmitting: "isSubmitting"
    }),
    ...mapState("department_ac", {
      departmentOptions: state => state.departmentOptions,
      classroomOptions: state => state.classroomOptions,
      subjectByDepartmentSchoolYearOptions: state =>
        state.subjectByDepartmentSchoolYearOptions,
      teacherOptions: state => state.teacherOptions
      // studentOptions: state => state.studentOptions
    }),
    ...mapState("school_year_ac", {
      schoolYearOptions: state => state.schoolYearOptions
    })
  },
  methods: {
    ...mapActions("department_ac", {
      loadDepartmentData: "loadDepartmentData",
      changeDepartment: "changeDepartment",
      changeDepartmentSchoolYearToSubject:
        "changeDepartmentSchoolYearToSubject",
      changeSubjectToTeacher: "changeSubjectToTeacher"
    }),
    ...mapActions("school_year_ac", {
      loadSchoolYearData: "loadSchoolYearData"
    }),
    ...mapActions("scorecard_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    loadAddress() {
      this.form.code_number_department = 0;
      this.form.code_number_class = 0;
      this.form.code_number_school_year = 0;
      this.form.code_number_subject = 0;
      this.changeDepartment(this.form.code_number_department);
      this.changeDepartmentSchoolYearToSubject(
        this.form.code_number_school_year
      );
      this.changeSubjectToTeacher(this.form.code_number_subject);
      this.setBasicInfo(this.form);
    },
    submit() {
      let students = this.list_subject_students.data;
      let mid_scorecards = this.form.mid_score;
      let last_scorecards = this.form.last_score;
      for (let i = 0; i < this.list_subject_students.data.length; i++) {
        this.form.code_number_student.push({
          code_number_student: students[i].code_number_student,
          mid_score: mid_scorecards[i],
          last_score: last_scorecards[i]
        });
      }
      console.log("================ LIST STUDENT ==============");
      console.log(this.form.code_number_student);
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/");
        })
        .catch(err => {
          swal({
            title: "Đăng điểm không thành công",
            text: JSON.stringify(err.response.data.message),
            icon: "warning",
            button: false
          });
        });
    },
    getFilter() {
      let p = this.params;
      axios
        .post(
          "api/scorecard/getListSearch?page=" +
            p.page +
            "&per_page=" +
            p.per_page +
            "&sort_column=" +
            p.sort_column +
            "&direction=" +
            p.direction,
          {
            keyOptionClass: this.form.code_number_class
          }
        )
        .then(response => {
          this.params.page = 1;
          this.searchAll = "";
          this.list_subject_students = response.data.data;
        });
    }
    // getList() {
    //   let p = this.params;
    //   this.isLoading = true;
    //   SubjectTeacherService.getPaginate(
    //     p.page,
    //     p.per_page,
    //     p.sort_column,
    //     p.direction
    //   )
    //     .then(response => {
    //       this.isLoading = false;
    //       this.list_subject_teachers = response.data.data;
    //     })
    //     .catch(e => {
    //       this.errors.push(e);
    //       this.isLoading = false;
    //     });
    // },
    // getSort(column) {
    //   this.params.sort_column = column;
    //   if (this.params.direction === "asc") {
    //     this.params.direction = "desc";
    //   } else {
    //     this.params.direction = "asc";
    //   }
    //   if (!this.searchAll) {
    //     this.getList();
    //   }
    //   if (this.searchAll) {
    //     this.search();
    //   }
    // },
    // clickCallback(pageNum) {
    //   this.params.page = pageNum;
    //   if (!this.searchAll) {
    //     this.getList();
    //   }
    //   if (this.searchAll) {
    //     this.search();
    //   }
    // },
    // search() {
    //   let p = this.params;
    //   SubjectTeacherService.getSearch(
    //     p.page,
    //     p.per_page,
    //     p.sort_column,
    //     p.direction,
    //     {
    //       keyText: this.searchAll
    //     }
    //   ).then(response => {
    //     if (this.searchAll) {
    //       this.params.page = 1;
    //       this.list_subject_teachers = response.data.data;
    //     } else {
    //       this.getList();
    //     }
    //   });
    // }
  },
  watch: {
    "form.code_number_department": function(newVal) {
      this.form.code_number_class = 0;
      this.form.code_number_school_year = 0;
      this.form.code_number_subject = 0;
      this.changeDepartment(newVal);
      this.setBasicInfo(this.form);
    },
    "form.code_number_class": function() {
      this.setBasicInfo(this.form);
    },
    "form.code_number_school_year": function(newVal) {
      // this.loadAddress();
      this.changeDepartmentSchoolYearToSubject(newVal);
      this.setBasicInfo(this.form);
    },
    "form.code_number_subject": function(newVal) {
      this.changeSubjectToTeacher(newVal);
      this.setBasicInfo(this.form);
    },
    "form.code_number_teacher": function() {
      this.setBasicInfo(this.form);
    },
    "form.mid_score": function() {
      this.setBasicInfo(this.form);
    },
    "form.last_score": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
