<template>
  <div class="container">
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>
      <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                  <label class="control-label">Lớp học</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_class"
                    placeholder="Mã phòng ban..."
                    type="text"
                  />
                </div>
                </div>

                <div class="col col-sm-6">
                  <div class="form-group">

                  <label class="control-label">Sinh viên</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_student"
                    placeholder="Mã phòng ban..."
                    type="text"
                  />
                </div>
                </div>

                <div class="col col-sm-4">
                  <label class="control-label">Học kì</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_school_year"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Môn học</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_subject"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-4">
                  <label class="control-label">Giảng viên</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_teacher"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-6">
                  <label class="control-label">Điểm giữa kì</label>
                  <input
                    class="form-control"
                    v-model="form.mid_score"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
                <div class="col col-sm-6">
                  <label class="control-label">Điểm cuối kì</label>
                  <input
                    class="form-control"
                    v-model="form.last_score"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
<!--              </div>-->
              <!-- /input-group -->
            <!-- /.box-body -->
            <div class="box-body mt-5">
              <div class="col-sm-12">
                <button class="btn btn-warning" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-warning"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-warning" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
            </div>
    </section>
  </div>
</template>
<script>
import swal from "sweetalert";
import ScorecardService from "../../services/scorecard";

export default {
  name: "edit",
  data() {
    return {
      form: {
        code_number_department: "",
        code_number_class: "",
        code_number_school_year: 0,
        code_number_subject: 0,
        code_number_student: [],
        mid_score: [],
        last_score: []
      }
    };
  },
  created() {
    this.getShow();
  },
  methods: {
    getShow() {
      this.isLoading = true;
      ScorecardService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      ScorecardService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
