<template>
  <button
    class="btn btn-warning btn-sm mr-1"
    @click="ask"
    data-toggle="tooltip"
    data-placement="left"
    title="Xóa"
  >
    <i class="fa fa-trash-o"></i>
  </button>
</template>

<script>
import AttendanceService from "../../services/attendance";
import swal from "sweetalert";

export default {
  props: ["attendanceDelete"],
  data() {
    return {};
  },
  methods: {
    ask() {
      swal({
        title: "Xác nhận xóa?",
        text:
          'Bạn có muốn xóa "' +
          this.attendanceDelete.code_number_student +
          '" mã ' +
          this.attendanceDelete.id +
          " không?",
        icon: "error",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          AttendanceService.remove(this.attendanceDelete.id);
          swal("Đã xóa thành công!", {
            icon: "success",
            buttons: false
          });
        } else {
        }
      });
      this.$emit("ok");
    },

    basicErrorHandle(e) {
      console.log(e);

      let message = "";
      if (e.response.status === 401) {
        message = "Yêu cầu bị từ chối";
      } else if (e.response.status >= 500) {
        message = "Lỗi máy chủ" + e.message;
      } else {
        message = e.response.data.message;
      }

      swal({
        type: "error",
        title: "Lỗi",
        text: "Không thể xử lý yêu cầu của bạn do lỗi: " + message
      });

      console.error(message);
    }
  }
};
</script>
