<template>
  <div class="container">
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>
      <div class="row">
                <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label">Lớp học</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_class"
                    placeholder="Mã lớp học..."
                    type="text"
                  />
                </div>
                </div>

                <div class="col col-sm-3">
                    <div class="form-group">

                    <label class="control-label">Sinh viên</label>
                  <select
                    disabled
                    v-model="form.code_number_student"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in studentOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
                </div>

                <div class="col col-sm-3">
                  <div class="form-group">
                  <label class="control-label">Học kì</label>
                  <select
                    disabled
                    v-model="form.code_number_school_year"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in schoolYearOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
                </div>
                <div class="col col-sm-3">
                  <div class="form-group">
                  <label class="control-label">Môn học</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_subject"
                    placeholder="Mã môn học..."
                    type="text"
                  />
                </div>
                </div>
                <div class="col col-sm-3">
                  <div class="form-group">
                  <label class="control-label">Giảng viên</label>
                  <input
                    disabled
                    class="form-control"
                    v-model="form.code_number_teacher"
                    placeholder="Tên phòng ban..."
                    type="text"
                  />
                </div>
                </div>
                <div class="col col-sm-3">
                  <div class="form-group">
                  <label class="control-label">Điểm danh</label>
                  <select class="form-control select2" v-model="form.absent">
                    <option selected value="0">Có mặt</option>
                    <option value="1">Vắng có phép</option>
                    <option value="2">Vắng không phép</option>
                  </select>
                </div>
                </div>
                <div class="col col-sm-3">
                  <div class="form-group">
                  <label class="control-label">Thời gian</label>
                  <input
                    class="form-control"
                    v-model="form.date_absent"
                    placeholder="Tên phòng ban..."
                    type="date"
                  />
                </div>
                </div>
                <div class="col col-sm-12">
                  <div class="form-group">
                  <label class="control-label">Lý do</label>
                  <input
                    class="form-control"
                    v-model="form.reason_for_absence"
                    placeholder="Lý do..."
                    type="text"
                  />
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-warning" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-warning"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-warning" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
    </section>
  </div>
</template>
<script>
import swal from "sweetalert";
import AttendanceService from "../../services/attendance";
import { mapState, mapActions } from "vuex";

export default {
  name: "edit",
  data() {
    return {
      isSubmitting: false,
      form: {
        code_number_department: "",
        code_number_class: "",
        code_number_school_year: 0,
        code_number_subject: 0,
        code_number_student: "",
        date_absent: "",
        absent: "",
        reason_for_absence: ""
      }
    };
  },
  created() {
    this.getShow();
    this.loadDepartmentData();
    this.loadSchoolYearData();
    this.loadStudentData();
    this.loadSubjectData();
  },
  computed: {
    ...mapState("department_ac", {
      departmentOptions: state => state.departmentOptions
    }),
    ...mapState("classroom_ac", {
      classroomOptions: state => state.classroomOptions
    }),
    ...mapState("school_year_ac", {
      schoolYearOptions: state => state.schoolYearOptions
    }),
    ...mapState("subject_ac", {
      subjectOptions: state => state.subjectOptions
    }),
    ...mapState("student_ac", {
      studentOptions: state => state.studentOptions
    })
  },
  methods: {
    ...mapActions("department_ac", {
      loadDepartmentData: "loadDepartmentData"
    }),
    ...mapActions("school_year_ac", {
      loadSchoolYearData: "loadSchoolYearData"
    }),
    ...mapActions("subject_ac", {
      loadSubjectData: "loadSubjectData"
    }),
    ...mapActions("student_ac", {
      loadStudentData: "loadStudentData"
    }),
    getShow() {
      this.isLoading = true;
      AttendanceService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      AttendanceService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/attendance");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
